* {
  font-family: kanit, sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: #fff;
}

header div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 54px;
  padding: 12px 28px;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}
header h3 {
  font-size: 24px;
  font-weight: bold;
  background-color: #fff;
  color: #2e2e2e;
}
header p {
  background-color: #fff;
}
header button {
  width: 72px;
  border: none;
  font-size: 14px;
  font-weight: 600;
  color: #5060b5;
}

.title-subtitle {
  margin-top: 32px;
  padding: 0 28px;
}
.title-subtitle h1 {
  font-size: 48px;
  text-transform: uppercase;
  font-weight: 600;
  color: #2e2e2e;
  line-height: 24px;
}
.title-subtitle .audit-span {
  display: flex;
  justify-content: end;
  color: #2e2e2e;
}
.title-subtitle span {
  font-size: 48px;
  font-weight: 600;
  margin-right: 24px;
  color: #5060b5;
}
.title-subtitle .consulting-span {
  display: flex;
  align-items: center;
  justify-content: start;
  color: #2e2e2e;
}
.title-subtitle .subtitle-button {
  display: flex;
  align-items: center;
  margin-top: 22px;
  gap: 34px;
  color: #939393;
  font-size: 12px;
}
.title-subtitle a {
  background-color: #5060b5;
  padding: 0px 15px;
  position: relative;
  border: none;
}
.title-subtitle button {
  font-size: 16px;
  text-align: center;
  color: #fff;
  height: 54px;
  border: none;
  background: none;
}
.title-subtitle .arrow-up-img {
  background: none;
  position: absolute;
  top: 2px;
  right: 2px;
}

ul {
  display: flex;
  justify-content: center;
  gap: 16px;
  font-weight: 500;
  font-size: 12px;
  color: #2e2e2e;
  list-style: none;
  margin-top: 32px;
}

h3 {
  margin-top: 62px;
  font-size: 32px;
  padding-left: 28px;
}

.final-point {
  font-size: 64px;
  color: #5060b5;
}

.andre-img {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 32px;
  margin-top: 42px;
  gap: 16px;
}
.andre-img .andre-summary {
  font-size: 12px;
  font-weight: 100;
  text-align: justify;
  color: #939393;
}
.andre-img img {
  width: 120px;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

@media (min-width: 768px) {
  header div {
    padding: 0px 56px;
  }
  header button {
    font-size: 14px;
  }
  .title-subtitle {
    padding: 0 64px;
    margin-top: 96px;
  }
  .title-subtitle h1 {
    padding: 0px 0px;
    font-size: 84px;
    background: none;
  }
  .title-subtitle span {
    font-size: 84px;
    background: none;
  }
  .title-subtitle a {
    display: flex;
    justify-content: center;
    width: 50%;
  }
  .title-subtitle .contact-button {
    font-size: 20px;
  }
  .title-subtitle .business-text {
    margin-top: 96px;
    font-size: 16px;
    font-weight: 500;
    gap: 40px;
  }
  ul {
    margin-top: 88px;
  }
  ul li {
    font-size: 16px;
    font-weight: 500;
  }
  h3 {
    margin-top: 96px;
    font-size: 48px;
  }
  .final-point {
    font-size: 96px;
  }
  .andre-img {
    padding: 0 64px;
    gap: 52px;
  }
  .andre-img .andre-summary {
    font-size: 16px;
  }
  .andre-img img {
    width: 160px;
  }
}
@media (min-width: 1280px) {
  header div {
    height: 65px;
  }
  header img {
    width: 60px;
  }
  header button {
    font-size: 20px;
    font-weight: 500;
  }
  .title-subtitle {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 0 180px;
  }
  .title-subtitle a {
    display: flex;
    justify-content: center;
    width: 25%;
  }
  .title-subtitle button {
    height: 80px;
  }
  .title-subtitle span {
    margin-right: 50px;
    margin-left: 100px;
  }
  .title-subtitle .business-text {
    margin-top: 96px;
    gap: 120px;
    font-size: 20px;
    font-weight: 400;
  }
}

/*# sourceMappingURL=styles.css.map */
