$header-color: #fff;
$header-text: #2e2e2e;
$background-color: #fff;
$border-color: #969a97;
$text-color: #eee;
$bg-color: #000;
$secondary-color: #5060b5;

// sass --watch sass/styles.scss:css/styles.css
