$primary-color: #fff;
$secondary-color: #20c997;
$header-color: #eee;
$header-text: #2e2e2e;
$background-color: #575757;
$border-color: #904397;
$text-color: #eee;
$bg-color: #000;
$container-width: 1170px;
