@use "variables";
@import "breakpoints";

* {
  font-family: kanit, sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: variables.$background-color;
}

header {
  div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 54px;
    padding: 12px 28px;
    background-color: variables.$background-color;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
      rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  }

  h3 {
    font-size: 24px;
    font-weight: bold;
    background-color: variables.$background-color;
    color: #2e2e2e;
  }

  .text-company {
    background-color: variables.$background-color;
  }

  button {
    width: 72px;
    border: none;
    font-size: 14px;
    font-weight: 600;
    color: variables.$secondary-color;
  }
}

.title-subtitle {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: 32px;
  padding: 0 28px;

  h1 {
    font-size: 48px;
    text-transform: uppercase;
    font-weight: 600;
    color: variables.$title-text;
    line-height: 24px;
  }
  .audit-span {
    display: flex;
    justify-content: end;
    color: variables.$title-text;
  }

  span {
    font-size: 48px;
    font-weight: 600;
    margin-right: 24px;
    color: variables.$secondary-color;
  }

  .consulting-span {
    display: flex;
    align-items: center;
    justify-content: start;
    color: variables.$title-text;
  }

  .subtitle-button {
    display: flex;
    align-items: center;
    margin-top: 22px;
    gap: 34px;
    color: variables.$primary-color;
    font-size: 12px;
  }

  a {
    background-color: variables.$secondary-color;
    padding: 0px 15px;
    position: relative;
    border: none;
  }

  button {
    font-size: 16px;
    text-align: center;
    color: #fff;
    height: 54px;
    border: none;
    background: none;
  }

  .arrow-up-img {
    background: none;
    position: absolute;
    top: 2px;
    right: 2px;
  }
}

ul {
  display: flex;
  justify-content: center;
  gap: 16px;
  font-weight: 500;
  font-size: 12px;
  color: variables.$title-text;
  list-style: none;
  margin-top: 32px;
}

h3 {
  margin-top: 62px;
  font-size: 32px;
  padding-left: 28px;
}

.final-point {
  font-size: 64px;
  color: variables.$secondary-color;
}

.andre-img {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 32px;
  margin-top: 42px;
  gap: 16px;

  .andre-summary {
    font-size: 12px;
    font-weight: 100;
    text-align: justify;
    color: variables.$primary-color;
  }

  img {
    width: 120px;
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
      rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  }
}

.certificates {
  ul {
    display: flex;
    flex-direction: column;
    margin-top: 42px;
    padding: 0 32px;
  }

  li {
    list-style: inside;
    font-size: 12px;
    font-weight: 300;
    color: variables.$primary-color;
    line-height: 75%;
  }
}

.footer-test {
  width: 100%;
  display: flex;
  margin-top: 320px;
  color: #fff;
}

.footer-test p {
  background: none;
}

.adresses {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-items: center;
  width: 100%;
  background-color: variables.$title-text;
  padding: 12px 12px;
  font-size: 12px;
}

.adresses p {
  padding: 0 12px;
}

.local-adress {
  background: none;
  display: flex;
  align-items: center;
}

.text-adress {
  background: none;
  line-height: 14px;
}

.city-text {
  font-weight: 300;
  font-size: 12px;
}

img {
  background: none;
}

.phone-adress {
  display: flex;
  align-items: center;
  margin-top: 15px;
  background: none;
}

.mail-adress {
  display: flex;
  align-items: center;
  margin-top: 15px;
  background: none;
}

.mail-text {
  color: variables.$secondary-color;
}

.about-company {
  font-size: 12px;
  background-color: #2e2e2e;
  width: 100%;
  padding: 12px 12px;
}

.summary-text {
  color: variables.$primary-color;
  font-size: 10px;
  margin-top: 12px;
  line-height: 12px;
}

.social-medias {
  display: flex;
  justify-content: space-around;
  padding-left: 12px;
  background: none;
  padding: 12px 0;
}

.social-medias a {
  background: none;
  cursor: pointer;
}

@include tablet {
  header {
    div {
      padding: 0px 56px;
    }

    button {
      font-size: 14px;
    }
  }

  .title-subtitle {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 0 64px;
    margin-top: 96px;

    span {
      font-size: 84px;
      background: none;
      line-height: 60px;
    }

    a {
      display: flex;
      justify-content: center;
      width: 175px;
    }

    .contact-button {
      font-size: 20px;
    }

    .subtitle-button {
      display: flex;
      align-items: center;
      margin-top: 88px;
      font-size: 16px;
    }
  }

  ul {
    margin-top: 88px;

    li {
      font-size: 16px;
      font-weight: 500;
    }
  }

  h3 {
    margin-top: 96px;
    font-size: 48px;
    padding-left: 64px;
  }

  .final-point {
    font-size: 96px;
  }

  .andre-img {
    padding: 0 64px;
    gap: 52px;

    .andre-summary {
      font-size: 16px;
    }

    img {
      width: 160px;
    }
  }

  .certificates {
    ul {
      display: flex;
      flex-direction: column;
      margin-top: 42px;
      padding: 0 64px;
    }

    li {
      list-style: inside;
      font-size: 16px;
      font-weight: 300;
      color: variables.$primary-color;
      line-height: 75%;
    }
  }

  .adresses {
    display: flex;
    justify-content: center;
    padding: 24px 24px;
    font-size: 16px;
  }

  .about-company {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    font-size: 24px;
    padding: 24px;
  }

  .summary-text {
    font-size: 16px;
    line-height: 16px;
  }

  .social-medias img {
    width: 32px;
  }
}

@include desktop {
  header {
    div {
      padding: 0 180px;
      height: 65px;
    }

    img {
      width: 60px;
    }

    button {
      font-size: 20px;
      font-weight: 500;
      cursor: pointer;
    }
  }

  .title-subtitle {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 0 180px;

    .subtitle-button {
      margin-top: 96px;
      display: flex;
      justify-content: center;
      width: 920px;
      font-size: 20px;
    }

    p {
      padding-right: 120px;
    }

    a {
      width: 30%;
    }

    button {
      height: 80px;
      cursor: pointer;
    }

    span {
      margin-right: 50px;
      margin-left: 100px;
    }
  }

  h3 {
    width: 920px;
    padding: 0;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
  }

  .about {
    margin-top: -15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    padding: 0 180px;
  }

  .andre-img {
    padding: 0px;
    display: flex;
    align-items: center;
    width: 920px;
  }

  .certificates {
    h3 {
      margin-bottom: 44px;
    }
    ul {
      display: flex;
      flex-direction: column;
      width: 920px;
      padding: 0;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
    }

    li {
      list-style: inside;
      font-size: 16px;
      font-weight: 300;
      color: variables.$primary-color;
      line-height: 75%;
    }
  }

  .footer-test {
    height: 230px;
  }

  .adresses {
    padding-left: 180px;
    gap: 24px;
  }

  .about-company {
    padding-right: 180px;
    gap: 12px;
  }

  .social-medias {
    gap: 24px;
  }
}
