@use "variables";
@import "breakpoints";

* {
  font-family: kanit, sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: variables.$background-color;
}

header {
  div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 54px;
    padding: 12px 28px;
    background-color: variables.$background-color;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
      rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  }

  h3 {
    font-size: 24px;
    font-weight: bold;
    background-color: variables.$background-color;
    color: #2e2e2e;
  }

  p {
    background-color: variables.$background-color;
  }

  button {
    width: 72px;
    border: none;
    font-size: 14px;
    font-weight: 600;
    color: variables.$secondary-color;
  }
}

.title-subtitle {
  margin-top: 32px;

  h1 {
    font-size: 52px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
    color: variables.$title-text;
  }

  .consulting-text {
    text-align: left;
    padding-left: 28px;
    height: 60px;
  }

  span {
    font-size: 52px;
    font-weight: 600;
    padding-left: 56px;
    color: variables.$secondary-color;
  }

  .commercial-audit-text {
    display: flex;
    text-align: right;
    padding-right: 28px;
    height: 60px;
  }

  .business-text {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 56px;
    gap: 28px;
    color: variables.$primary-color;
    font-weight: 400;
    font-size: 12px;
    padding: 0 28px;
  }

  button {
    font-size: 16px;
    text-align: center;
    color: #fff;
    height: 54px;
    background-color: variables.$secondary-color;
    padding: 1px;
    width: 225px;
    position: relative;
    border: none;
  }

  .arrow-up-img {
    background: none;
    position: absolute;
    top: 2px;
    right: 2px;
  }
}

ul {
  display: flex;
  justify-content: center;
  gap: 16px;
  font-weight: 500;
  font-size: 12px;
  color: variables.$title-text;
  list-style: none;
  margin-top: 28px;
}

.andre-img {
  text-align: center;
  margin-top: 56px;

  img {
    width: 160px;
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
      rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  }

  .andre-name {
    font-size: 16px;
    font-weight: 500;
    margin-top: 18px;
    color: variables.$title-text;
  }

  .andre-summary {
    font-size: 16px;
    font-weight: 100;
    text-align: center;
    margin-top: 56px;
    padding: 0 24px;
    color: variables.$title-text;
  }
}

.responsive-test {
  @include phone {
    color: red;
  }

  @include tablet {
    color: blue;
  }

  @include desktop {
    color: yellow;
  }
}

@include tablet {
  .title-subtitle {
    h1 {
      font-size: 40px;
    }

    ul {
      font-size: 16px;
    }
  }

  .andre-img {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;

    img {
      width: 180px;
    }
  }

  .andre-summary {
    font-size: 16px;
    font-weight: 100;
    text-align: center;
    margin-top: 56px;
    padding: 0 110px;
    color: variables.$title-text;
  }
}
